@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500');
$primary: #F2B500;
$secondary: #252628;
$white: #fff;
$black: #000;
$dark: #2b2b2b;
$text: #333;
$border: #eee;
body {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.navbar-nav {
    .active {
        .nav-link {
            color: $primary !important;
        }
    }
}

header {
    margin-bottom: 30px;
}

hr {
    border-color: $white;
}

a {
    &:hover,
    &focus {
        text-decoration: none;
    }
}

.btn-primary {
    background: $primary;
    border: 0;
    padding: 10px 30px;
    &:hover,
    &:focus {
        background: $secondary;
    }
}

.navbar-brand {
    img {
        height: 50px;
    }
}

.bg-dark {
    background-color: $secondary !important;
}

.text-primary {
    color: $primary !important;
}

.container-fluid {
    @media (min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.sidebar {
    ul {
        padding-left: 0;
        li {
            padding: 5px 0;
        }
    }
    a {
        color: $white;
        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

.horo {
    .form-control {
        height: 43px;
    }
}

//horo-content
.horo-content .tab-content .number-header,
.horo-content .tab-content .horo-title,
.horo-content .tab-content .horo-percent,
.horo-content .tab-content .sec-b .table-element,
.horo-content .nav-tabs li>a {
    font-family: 'Prompt', sans-serif;
}

.horo-content .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    text-align: center;
}

.horo-content .tab-content .number-header {
    font-size: 36px;
    color: #1E2123;
    font-weight: 500;
    padding: 20px 0 10px;
}

.horo-content .tab-content .horo-title {
    font-size: 14px;
    padding: 5px;
    background-color: $primary;
    border-radius: 22px;
    margin: 0 60px;
}

.horo-content .tab-content .horo-percent {
    font-size: 22px;
    padding: 10px 0;
    font-weight: 500;
}

.horo-content .tab-content .primary-horo-rating {
    font-size: 2.5em;
    color: $primary;
}

.horo-content .tab-content .primary-horo-rating i {
    padding: 0 5px;
}

.horo-content .tab-content .sec-b {
    overflow: hidden;
    background-color: #fafafa;
    padding: 30px 0;
    margin-top: 20px;
}

.horo-content .tab-content .sec-b img {
    height: 50px;
}

.horo-content .tab-content .sec-b .element {
    fill: $primary;
}

.horo-content .tab-content .sec-b .table-element {
    margin: 20px 0;
}

.horo-content .tab-content .sec-b .table-element i {
    font-size: 16px;
    padding: 0 2px;
}

.horo-content .tab-content .sec-b .table-element tr {
    height: 30px;
    font-size: 16px;
}

.horo-content .tab-content .sec-b .marker {
    color: $primary;
}

.horo-content .nav-tabs li>a {
    border-radius: 0;
    color: #1E2123;
}

.page-header {
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 2em;
    margin-bottom: 10px;
    color: $dark;
    font-weight: 500;
    .viewall {
        position: absolute;
        right: 0;
        bottom: 5px;
        font-size: 16px;
        font-weight: 300;
        color: $dark;
        &:hover {
            color: $primary;
        }
    }
    &:before {
        position: absolute;
        content: "";
        width: 100px;
        height: 3px;
        background: $primary;
        left: 0;
        bottom: 0;
    }
}

.breadcrumb {
    background: transparent;
    padding-left: 0;
    margin-bottom: 10px;
    a {
        color: $dark;
    }
}

//carousel 
.carousel-caption {
    left: 20%;
    top: 40%;
    text-align: left;
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 20px;
    }
}

//card 
.card {
    border: 0;
    .card-header {
        background-color: $primary;
        border-bottom: 0;
    }
    .card-body {
        background: $secondary;
        span {
            color: $white;
            font-size: 14px;
        }
        li {
            color: $white;
            list-style: none;
        }
    }
}

.article-sidebar {
    img {
        height: 50px;
        margin-right: 10px;
    }
    a {
        display: inline-flex;
    }
    h5 {
        font-size: 16px;
    }
    p {
        overflow: hidden;
        height: 40px;
        font-size: 14px;
    }
}

.article {
    a {
        color: $dark;
    }
    .btn {
        margin-top: 10px;
        color: $white;
    }
    .card {
        border-color: $border;
    }
    .card-body {
        background: transparent;
        padding: 20px 0;
    }
    #share {
        display: inline-block;
        .jssocials-share {
            margin: 0 5px;
            vertical-align: top;
        }
    }
    .share {
        color: #666;
        padding-bottom: 10px;
        .datepost {
            color: #666;
            font-size: 16px;
        }
    }
    .card-footer {
        background: transparent;
    }
}

.pagination {
    a {
        color: $dark;
    }
    margin-top: 20px;
    .page-link:hover {
        background: $primary;
        color: $white;
        border-color: $primary;
    }
    .page-item.active .page-link {
        background: $primary;
        color: $white;
        border-color: $primary;
    }
}

//search
/*Search Ber */

.search-ber .form-search {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 20px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-ber .form-search .form-group label {
    font-family: "Prompt";
    display: block;
    font-weight: 500;
}

.search-ber .form-search .form_search2 {
    width: 40px;
    margin-right: 5px;
    display: inline-block;
    font-weight: 500;
    text-align: center
}

.search-ber .form-group .number-check .label-check {
    display: inline-block;
}

.search-ber .form-group .number-check input[type=checkbox].no-check {
    display: none;
}

.search-ber .form-group .number-check input[type=checkbox].no-check+label.label-check {
    background: $dark;
    height: 35px;
    width: 35px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}

.search-ber .form-group .number-check input[type=checkbox].no-check:checked+label.label-check {
    background: $primary;
    cursor: pointer;
}

.ber-category {
    .icon-category {
        width: 120px;
        height: 120px;
        background: transparent;
        border-radius: 50%;
        color: $dark;
        border: 1px solid $border;
        line-height: 114px;
        font-size: 60px;
        margin: 0 auto;
        margin-bottom: 10px;
        &:hover {
            background: $primary;
            cursor: pointer;
            color: #fff;
            border: 1px solid $primary;
        }
    }
    .title {
        color: $dark;
        font-size: 20px;
        font-weight: 400;
    }
}

.berkaidee-listview {
    li {
        position: relative;
        border: 1px solid #eee;
        padding: 20px;
        margin-bottom: 20px;
        &:hover {
            border-color: $primary;
        }
    }
    .carrier-logo {
        height: 25px;
    }
    .showber {
        font-size: 22px;
        line-height: 1;
        padding-right: 10px;
        font-weight: 500;
        @media ( max-width: 992px) {
            font-size: 18px;
        }
        a {
            color: $dark;
        }
        .sum {
            color: $primary;
            font-size: 14px;
            font-weight: 400;
            @media ( max-width: 992px) {
                font-size: 14px;
            }
        }
    }
    .berprice {
        font-size: 16px;
        font-weight: 400;
        @media ( max-width: 992px) {
            font-size: 16px;
        }
    }
    p {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .berkaidee-detail {
        overflow: hidden;
        float: left;
    }
}

//table 
.berlist {
    td {
        border-top: 0;
        border-bottom: 1px solid #eee;
    }
}

footer {
    img {
        height: 60px;
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 10px;
    }
    ul {
        padding-left: 10px;
        li {
            color: $white;
            list-style: none;
            margin: 10px 0 5px;
        }
    }
    a {
        color: $white;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $primary;
        }
    }
    .line-box {
        img {
            height: 70px;
            ;
        }
    }
    .dbd-certificate {
        background-color: #fff;
        border-radius: 4px;
        padding: 5px;
        max-width: 250px;
        cursor: pointer;
        p {
            font-family: "Prompt";
            text-align: center;
            font-size: 11px;
        }
        img {
            height: 100px;
            margin: 0 auto;
        }
    }
}

.contact-us {
    a {
        color: $dark;
    }
}