@import url("https://fonts.googleapis.com/css?family=Prompt:300,400,500");
body {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background: #f9f9f9;
}

.bg-search{
  background: rgba(255,255,255,1);
  padding: 15px;
 
}

.font-weight-400{
  font-weight: 400;
}

.border-star{
  width: 22px; 
  height: 22px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 6px 1px rgba(235,235,235,1);
    -moz-box-shadow: 3px 3px 6px 1px rgba(235,235,235,1);
    box-shadow: 3px 3px 6px 1px rgba(235,235,235,1);
}

.navbar-nav .active .nav-link {
  color: #F2B500 !important;
}

header {
  
}

hr {
  border-color: #fff;
}

a:hover,
afocus {
  text-decoration: none;
}

.svg-img {
  height: 60px;
}

.icon-category:hover .svg-img {
  filter: brightness(0) invert(1);
}

.btn-primary {
  border-radius: 20px;
  background: #F2B500;
  border: 0;
  padding: 5px 20px;
  color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #252628;
}

.navbar-brand img {
  height: 50px;
}

.bg-dark {
  background-color: #252628 !important;
}

.text-primary {
  color: #F2B500 !important;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.sidebar ul {
  padding-left: 0;
}

.sidebar ul li {
  padding:0;
}

.sidebar a {
  color: #fff;
}

.sidebar a:hover,
.sidebar a:focus {
  color: #F2B500;
}

.horo .form-control {
  height: 43px;
}

.horo-content .tab-content .number-header,
.horo-content .tab-content .horo-title,
.horo-content .tab-content .horo-percent,
.horo-content .tab-content .sec-b .table-element,
.horo-content .nav-tabs li>a {
  font-family: 'Prompt', sans-serif;
}

.horo-content .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  text-align: center;
}

.horo-content .tab-content .number-header {
  font-size: 36px;
  color: #1E2123;
  font-weight: 500;
  padding: 20px 0 10px;
}

.horo-content .tab-content .horo-title {
  font-size: 14px;
  padding: 5px;
  background-color: #F2B500;
  border-radius: 22px;
  margin: 0 60px;
}

.horo-content .tab-content .horo-percent {
  font-size: 22px;
  padding: 10px 0;
  font-weight: 500;
}

.horo-content .tab-content .primary-horo-rating {
  font-size: 2.5em;
  color: #F2B500;
}

.horo-content .tab-content .primary-horo-rating i {
  padding: 0 5px;
}

.horo-content .tab-content .sec-b {
  overflow: hidden;
  background-color: #fafafa;
  padding: 30px 0;
  margin-top: 20px;
}

.horo-content .tab-content .sec-b img {
  height: 50px;
}

.horo-content .tab-content .sec-b .element {
  fill: #F2B500;
}

.horo-content .tab-content .sec-b .table-element {
  margin: 20px 0;
}

.horo-content .tab-content .sec-b .table-element i {
  font-size: 16px;
  padding: 0 2px;
}

.horo-content .tab-content .sec-b .table-element tr {
  height: 30px;
  font-size: 16px;
}

.horo-content .tab-content .sec-b .marker {
  color: #F2B500;
}

.horo-content .nav-tabs li>a {
  border-radius: 0;
  color: #1E2123;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #eee;
  font-size: 2em;
  margin-bottom: 10px;
  color: #2b2b2b;
  font-weight: 500;
}

.page-header .viewall {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  color: #2b2b2b;
}

.page-header .viewall:hover {
  color: #F2B500;
}

.page-header:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: #F2B500;
  left: 0;
  bottom: 0;
}

.breadcrumb {
  background: transparent;
  padding-left: 0;
  margin-bottom: 10px;
}

.breadcrumb a {
  color: #2b2b2b;
}

.carousel-caption {
  left: 20%;
  top: 40%;
  text-align: left;
}

.carousel-caption h1 {
  font-size: 3em;
}

.carousel-caption p {
  font-size: 20px;
}

.card {
  border: 0;
}

.card .card-header {
  background-color: #F2B500;
  border-bottom: 0;
}

.card-img-top {
  width: auto !important;
}

.card .card-body {
  background: #252628;
}

.card .card-body span {
  color: #fff;
  font-size: 14px;
}

.card .card-body li {
  color: #fff;
  list-style: none;
}

.article-sidebar img {
  height: 50px;
  margin-right: 10px;
}

.article-sidebar a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.article-sidebar h5 {
  font-size: 16px;
}

.article-sidebar p {
  overflow: hidden;
  height: 40px;
  font-size: 14px;
}

.article a {
  color: #2b2b2b;
}

.article .btn {
  margin-top: 10px;
  color: #fff;
}

.article .card {
  border-color: #eee;
}

.article .card-body {
  background: transparent;
  padding: 20px 0;
}

.article #share {
  display: inline-block;
}

.article #share .jssocials-share {
  margin: 0 5px;
  vertical-align: top;
}

.article .share {
  color: #666;
  padding-bottom: 10px;
}

.article .share .datepost {
  color: #666;
  font-size: 16px;
}

.article .card-footer {
  background: transparent;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  color: #2b2b2b;
}

.pagination .page-link:hover {
  background: #F2B500;
  color: #fff;
  border-color: #F2B500;
}

.pagination .page-item.active .page-link {
  background: #F2B500;
  color: #fff;
  border-color: #F2B500;
}

/*Search Ber */

.search-ber .form-search {
  border-radius: 4px;
  padding: 20px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-ber .form-search .form-group label {
  font-family: "Prompt";
  display: block;
  font-weight: 500;
}

.search-ber .form-search .form_search2 {
  width: 40px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.search-ber .form-group .number-check .label-check {
  display: inline-block;
}

.search-ber .form-group .number-check input[type=checkbox].no-check {
  display: none;
}

.search-ber .form-group .number-check input[type=checkbox].no-check+label.label-check {
  background: #2b2b2b;
  height: 35px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}

.search-ber .form-group .number-check input[type=checkbox].no-check:checked+label.label-check {
  background: #F2B500;
  cursor: pointer;
}

.ber-category .icon-category {
  width: 120px;
  height: 120px;
  background: #F2B500;
  border-radius: 50%;
  color: #2b2b2b;
  border: 1px solid #eee;
  line-height: 114px;
  font-size: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.ber-category .icon-category:hover {
  background: #F2B500;
  cursor: pointer;
  color: #fff;
  border: 1px solid #F2B500;
}
.font-28{
  font-size: 41px!important;
}

.text-number{
  color: #0000cd;
      font-family:inherit;
    line-height: 1;
}

.text-price{
  color: #0000FF;
}

.text-total{
  color: #00ff00;
}

.ber-category .title {
  color: #FF0000;
  font-size: 20px;
  font-weight: 400;
}

.berkaidee-listview li {
  position: relative;
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
}

.berkaidee-listview li:hover {
  border-color: #F2B500;
}

.berkaidee-listview .carrier-logo {
  margin: 0px auto;

}

.berkaidee-listview .showber {
  font-size: 22px;
  line-height: 1;
  padding-right: 10px;
  font-weight: 500;
  min-width: 300px;
}

.berkaidee-listview .showber a {
  color: #2b2b2b;
}

.berkaidee-listview .showber .sum {
  color: #F2B500;
  font-size: 14px;
  font-weight: 400;
}

.berkaidee-listview .berprice {
  font-size: 16px;
  font-weight: 400;
  min-width: 200px;
}

.berkaidee-listview p {
  margin-bottom: 5px;
  font-size: 14px;
}

.berkaidee-listview .berkaidee-detail {
  overflow: hidden;
  float: left;
}

.berlist td {
  border-top: 0;
  border-bottom: 1px solid #eee;
}

footer img {
  height: 60px;
  margin-bottom: 5px;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  padding-left: 10px;
}

footer ul li {
  color: #fff;
  list-style: none;
  margin: 10px 0 5px;
}

footer a {
  color: #fff;
}

footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #F2B500;
}

footer .line-box img {
  height: 70px;
}

footer .dbd-certificate {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  max-width: 250px;
  cursor: pointer;
}

footer .dbd-certificate p {
  font-family: "Prompt";
  text-align: center;
  font-size: 11px;
}

footer .dbd-certificate img {
  height: 100px;
  margin: 0 auto;
}

.contact-us a {
  color: #2b2b2b;
}

.share-content {
  display: inline-block;
}

.jssocials-shares,
.jssocials-share {
  margin-top: 0 !important;
}

.error {
  color: #ef5350 !important;
}

.berdetail {
  width: 250px;
}

@media (min-width: 1024px) {}

@media (max-width: 992px) {
  .search-ber .form-search .form_search2 {
    width: 27px;
    margin-right: 0;
    font-size: 16px;
    padding: 5px;
  }
  .berkaidee-listview .showber {
    font-size: 18px;
    min-width: 230px;
  }
  .berkaidee-listview .berprice {
    min-width: 120px;
    font-size: 16px;
  }
  .berkaidee-listview .showber .sum {
    font-size: 14px;
  }
}

/*newStyle*/
.styleNumberList {
  border:solid 1px #000;
  font-size:25px;
  border-radius:10px;
  padding:15px;
  margin:5px 0px 5px 0px;
}
.styleDetailNumberList {
  font-size:16px;
}
.stylePriceNumberList {
  font-weight:bold;
  color:#ff0000;
  margin-left:5px;
}
.styleSumPoint{
  font-weight:50%;
  color:#20971A;
}
.radiusNumberList{
  border-radius:10px;
}
/*.styleBody{
  background:#fff;
}*/
.styleContainer{
  background:#fff;
}
.blogNumber{
  margin: 0px 10px;
}

.btn-predict {
  font-size:18px;
  margin-top:40px;
  color: #fff;
  border-radius: 20px;
  background: red;
  border-color: #F2B500;
  border: 1;
  padding: 5px 20px;
}

.btn-predict:hover,
.btn-predict:focus {
  background: #fff;
}
.iconBasket{
  margin-right: 5px;
}
.iconSearch{
  margin-right: 5px; 
}


/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  height: 100%;
  visibility: visible;
}

/* menu appearance*/
#menu {
  top: 86px;
  padding: 5px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  background: #252628;
  position: fixed;
  left: 0;
  margin: 0;
  width: 100%;
  max-width: 320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 29;
  height: 0;
  transition: all 0.5s ease;

  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;

}
/*#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}*/
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}

.styleNumberList .btn-primary{
  font-size: 13px;
}





@media screen and (min-width:100px) and (max-width:767px) {
  .btn-predict{
    margin-top:10px;
  }
  #toggle{
        margin: 30px 10px 10px!important;
  }
  .carousel-item {
    height: 212px;
    min-height: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .berkaidee-listview p{
    font-size: 12px;
  }
  .berkaidee-listview .carrier-logo{
    margin:-8px auto;
    width: 70px;
  }
  .berkaidee-listview .font-28{
    font-size: 30px!important;
  }
}

@media (max-width: 575.98px){
.table-responsive-sm {
    overflow-x: unset;
}
}

@media screen and (min-width:768px) and (max-width:1023px) {
  #toggle{
        margin: 30px 10px 10px!important;
  }
  .carousel-item {
    height: 440px;
    min-height: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .berkaidee-listview .font-28{
    font-size: 38px!important;
  }
}

@media screen and (min-width:1024px) and (max-width:1190px) {
  .styleNumberList p{
    font-size: 10px;
  }
  #toggle{
        margin: 30px 10px 10px!important;
  }
  .berkaidee-listview .font-28{
    font-size: 38px!important;
  }
}