@font-face {
    font-family: 'fontello';
    src: url("./webfonts/fontello.eot?34972639");
    src: url("./webfonts/fontello.eot?34972639#iefix') format('embedded-opentype"), url("./webfonts//fontello.woff2?34972639") format('woff2'), url("./webfonts/fontello.woff?34972639") format('woff'), url("./webfonts//fontello.ttf?34972639") format('truetype'), url("./webfonts//fontello.svg?34972639#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?34972639#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    /*  width: 1em;*/
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dragon:before {
    content: '\e800';
}

/* '' */

.icon-swan:before {
    content: '\e801';
}

/* '' */

.icon-sword:before {
    content: '\e802';
}

/* '' */